.Sider {
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;
    height: 100vh;
    border: 1px solid #fff;
    padding-top: 4rem;
    background-color: #000;
    transition: width 0.6s, background 0.6s;
}

@media only screen and (max-width:768px) {
    .Sider {
        transition: width 0.6s, background 0.6s;
        background: rgba(0, 0, 0, 0);
        width: 100%;
    }

    .menuOpen * {
        animation: hidden 0.6s 1;
        animation-fill-mode: forwards;
    }
}

@keyframes hidden {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
        height: auto;
    }

    100% {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}