.ForecastBoard {
  margin-top: 4em;
  color: #fff;
  text-align: end
}
.ForecastBoard h4 {
  font-size: 1.4em;
}
.ForecastBoard h2 {
  font-size: 2em;
}
.ForecastTitle {
  font-size: 4.8em;
  line-height: 100%;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: end
}

.ForecastSubTitle {
  margin-block-start: 3.2em;
  margin-block-end: 0.2em;
  text-align: end
}