.ForecastBoard {
  color: #fff;
}
.ForecastTitle {
  font-size: 6em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  text-align: end
}
.ForecastSubTitle {
  font-size: 1.6em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  text-align: end
}