.loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: #000;
    color: #fff;
    user-select: none;
}

.main-logo {
    width: 18em;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading.hidden {
    animation: hidden 0.6s 1;
    animation-fill-mode: forwards;
}

.separate {
    display: inline-block;
    width: 3em;
    height: 18em;
    margin: 0 2em;
    background: #fff
}

.state-blok {
    display: inline-block;
    width: 18em;
    height: 18em;
}

@keyframes hidden {
    0% {
        opacity: 1;
    }

    99% {
        width: 100%;
        height: 100vh;
        opacity: 0;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

/****DEBUT SPINNER****/
#spinner {
    height: 14em;
    width: 14em;
    border: 3em solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 2s infinite;
    margin: 2em;
    transition: opacity 0.4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
#spinner.hidden {
    opacity: 0;
}

/****FIN SPINNER****/

#go {
    position: absolute;
    top: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 0em;
    line-height: 1em;
    opacity: 0;
    display: none;
}
#go img {
    height: 18rem;
}
#go.show{
    display: block;
    opacity: 1;
    transition: opacity 0.4s; 
}
